.carousel-critica {
  		display: flex;
  		overflow: hidden;
  		width: 1440px;
  		height: 580px;
  		background: #D9D9D9, 50%;
  		position: relative;
  		top: -350px;
  		left:5px;
		}

		.carousel-critica img {
  		width: 255px;
  		height: 385px;
  		animation: carousel 14s infinite;
  		align-content: center;
		}

		@keyframes carousel {
  		0% { transform: translateX(0); }
  		14% { transform: translateX(0); }
  		17% { transform: translateX(-100%); }
  		31% { transform: translateX(-100%); }
  		34% { transform: translateX(-200%); }
  		48% { transform: translateX(-200%); }
  		51% { transform: translateX(-300%); }
  		65% { transform: translateX(-300%); }
  		68% { transform: translateX(-400%); }
  		82% { transform: translateX(-400%); }
  		85% { transform: translateX(-500%); }
  		100% { transform: translateX(-500%); }
		}
